<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Have you seen me?</h1>
        <p class="lead">The images and details below have been taken from the FBI website.</p>
        <hr class="my-4">
        <p>Click “Save” to add a person to your Watch List. From the Watch List, you can add and update your notes on a person. Click on “Clear Data” to remove all images from this page and start over.</p>
        <a id="importBtn" class="btn btn-primary btn-lg" href="#" role="button">Import Data</a>
        <a id="clearBtn" class="btn btn-secondary btn-lg" href="#" role="button">Clear Data</a>
    </div>

    <div class="row">
        <div class="col-3">
            <h3>My Watch List</h3>
            <hr>
            {{#each persons}}
            {{#if saved}}
            {{> cards-saved}}
            {{/if}}
            {{/each}}
        </div>

        <div class="col-9">
            <div class="row">
                <div class="card-columns">
                    {{#each persons}}
                    {{#unless saved}}
                    {{> cards}}
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

</div>
